<%= form_with data:{ controller: "autosubmit", action: "input->autosubmit#submit"}, model: post do |form| %>
  <div>
    <% if post.errors.messages_for(:title).any? %>
      <%= form.text_field :title, size: "85x1", placeholder: "Invalid title", class: "form-control is-invalid" %>
    <% else %>
      <%= form.text_field :title, size: "85x1", placeholder: "Title", class: "form-control" %>
    <% end %>
  </div>

  <div>
    <% if post.errors.messages_for(:body).any? %>
      <%= form.text_area :body, size: "85x16", placeholder: "Invalid content", class: "form-control is-invalid" %>
    <% else %>
      <%= form.text_area :body, size: "85x16", placeholder: "Content", class: "form-control" %>
    <% end %>
  </div>

  <div class="form-create">
    <div class="form-check form-switch">
      <%= form.check_box :public, class: "form-check-input" %>
      <%= form.label :public, "Public post" %>
    </div>
    <% if categories.present? %>
      <%= form.select :category_id, categories.collect { |c| [c.name, c.id] }, { :include_blank => 'Category:' }, class: "form-control cat-select" %>
    <% else %>
      <%= form.select :category_id, [], { :include_blank => 'Category:' }, class: "form-control cat-select" %>
    <% end %>
  </div>

  <%= form.button class: "btn btn-success" %>
  <%= form.button "Validate", formaction: preview_posts_path(post_id: @post.id), name: "_method", value: "post", data: { autosubmit_target: "submitbutton" }, class: "btn-validate" %>
  
<% end %>

<div id="preview"></div>
