<div class="card bg-light mb-3">
  <div class="card-header">
    <%= post.created_at.strftime("%d-%m-%y").to_s.split[0] %> by <%= User.find(post.author_id).email %>
    
    <div style="display:flex; justify-content: flex-end">
      <% if post.category.present? %>
        <span class=<%= "text-"+post.category.color %>><i class="fa <%= post.category.icon %>"></i> <%= post.category.name %></span>
      <% end %>
      <span class="badge badge-secondary">
        <% if post.public %>
          <%= "Public" %>
        <% else %>
          <%= "Private" %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= simple_format(post.body.length >= 700 ? post.body[..700]+'...' : post.body) %></p>
    <%= link_to "Read", post, class: "btn btn-outline-primary"%>
  </div>
</div>